$colors : (
	primary : (
		lighten 	: lighten( #ee8622, 10% ),
		base  		: #ee8622,
		darken 		: darken( #ee8622, 10% ),
	),

	secondary : (
		opacity-20	: rgba( #26abdc, .2 ),
		opacity-50 	: rgba( #26abdc, .5 ),
		opacity-90	: rgba( #26abdc, .9 ),
	),

	tertiary : (
		lighten 	: lighten( #4a4a4a, 10% ),
		base  		: #4a4a4a,
		darken 		: darken( #4a4a4a, 10% ),
	),

	text : (
		base 		: #858484,
		title 		: #676767,
		link 		: #ee8622,
	),

	detail : (
		base  		: #e6e6e6,
		background  : #fafafa,
		disabled 	: #eaeaea,
		border 		: #e8e8e8,
	),

	message : (
		alert 		: #FFD92E,
		error 		: #fc6666,
		success 	: #56e747,
	),

	social : (
		facebook 	: #4367BD,
		twitter  	: #00ACF0,
		google-plus : #d13f1a,
		youtube  	: #bb0000,
		linkedin 	: #0073B4,
		whatsapp 	: #4dc247,
		pinterest 	: #FF0021,
	),
);
