$fonts : (
	primary : (
		base 	: Helvetica Neue,
		italic 	: false,
		bold 	: false,
		bold-ex : false
	),

	secondary : (
		base 	: Menlo,
		italic 	: false,
		bold 	: false,
		bold-ex : false
	),

	tertiary : (
		base 	: "Trebuchet MS",
		italic 	: false,
		bold 	: false,
		bold-ex : false
	)
);
