$sizes: (
  base    : 16px,
  smaller : 12px,
  small   : 14px,
  medium  : 16px,
  large   : 23px,
  larger  : 30px,
  h1      : 30px,
	h2      : 28px,
	h3      : 26px,
	h4      : 24px,
	h5      : 22px,
	h6      : 22px
);
