// :: font-face
// -- Include fonts in your project easily with this @mixin
// -- ex : @include font-face( Roboto, font-primary/roboto );
@mixin font-face($font-name, $dir, $extensions: eot woff2 woff ttf svg, $weight: normal, $style: normal) {
	$default : '/assets/fonts/' + $dir;
	$src     : null;

	$add-ext: (
		eot : '#iefix',
		svg : '##{ $font-name }'
	);

	$formats : (
		ttf : 'truetype',
		eot : 'embedded-opentype'
	);

	@each $extension in $extensions {
		$mod    : if( map-has-key( $add-ext, $extension ), $extension + map-get( $add-ext, $extension ), $extension );
		$format : if( map-has-key( $formats, $extension ), map-get( $formats, $extension ), $extension );
		$src    : append( $src, url( quote( $default + '.' + $mod ) ) format( quote( $format ) ), comma );
	}

	@font-face {
		font-family: quote( $font-name );
		font-weight: $weight;
		font-style: $style;

		@if ( contains( $extensions, eot ) ) {
			src: url( quote( $default + '.eot' ) );
		}

		src : $src;
	}
}

// ::Font Icon
@include font-face( Ghost-icomoon, icon/ghost-icomoon, eot ttf woff svg );
