@mixin leaked-triangle( $size, $border-width, $color ) {
	&::after,
	&::before {
		content: "";
		position: absolute;
		border-style: solid;
		border-color: $color transparent;
		display: block;
		width: 0;
	}

	&::after {
		border-color: #fff transparent;
		border-width: 0 ($size - $border-width) ($size - $border-width);
	}

	&::before {
		border-width: 0 $size $size;
	}
}
