@import '~storybook-ui/scss/common.scss';

.#{get-prefix()}-section {
  &__header { padding: 0 150px; }

  &__title {
    color: #2c3e50;
    border-bottom: 1px solid #ddd;
    font-family: font(secondary);
    font-size: 22.5px;
    font-weight: 600;
    margin-bottom: 18px;
    margin-top: 45px;
    padding-bottom: 15px;
  }

  &__content > *:not(.ui-view) {
    padding: 0 150px;
  }
}
