.#{$prefix}-page-header {
	background: $color-gray-300;
	min-height: 230px;
	padding: 80px 72px 0;
	position: relative;
}

.#{$prefix}-page-title {
	font-size: 48px;
	font-weight: 700;
	line-height: 48px;
	width: 100%;
}
