.#{$prefix}-typography-example {
	color: $color-gray-100;
	font-size: 48px;
	line-height: 56px;
	margin: 10px 0 0;
	width: 100%;
}

.#{$prefix}-type-card {
	margin: 1em 3em 1em 0;
}

.#{$prefix}-type-slug {
	color: $color-gray-100;
	font-size: 20px;
	padding-top: 25px;
}

.#{$prefix}-type-name {
	font-size: 24px;
	font-weight: 500;
    line-height: 25px;
	margin: 10px 0 0;
    width: 100%;
}

.#{$prefix}-type-example {
	color: $color-gray-100;
	font-size: 30px;
	line-height: 30px;
	margin: 10px 0 0;
}
