.card-post {
	border: 1px solid #eee;
	max-width: 350px;

	.card-thumbnail {
		overflow: hidden;

		img {
			@extend %img;
			margin: 0 auto;
			transition: .3s;

			&:hover {
				transform: scale( 1.05 );
			}
		}
	}

	.card-content {
		color: #222;
		font-family: font( primary );
		font-size: 14px;
		padding: 15px 10px 20px 20px;
	}

	.card-title {
		font-size: 18px;
		margin-bottom: 10px;

		a {
			color: inherit;
			transition: .3s;
		}

		a:hover {
			color: color( primary );
		}
	}
}
